*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background: rgb(156, 150, 197);
}
.purple-item{
    background: rgb(139, 57, 206);
    width: 500px;
}
 img{
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    display: inline;
}
li{
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    padding: 20px;
    color: aliceblue;
    list-style-type: none;
}
.grey-item{
background: rgb(106, 97, 97);
width: 300px;
}
.white-item{
    background: rgb(255, 255, 255);
    color: black;
    width: 300px;
}
.black-item{
    background: #000;
    width: 500px;
}
.purple-grey{
    display: flex;
    margin-top: 130px;
}
.white-black{
    display: flex;
}
ul{
    display: flex;
   flex-wrap: wrap;
}
.ul-2{
    display: flex;
}
.white-div{
    width: 300px;
    background: rgb(254, 254, 254);
    background-repeat: 5px;
}
.glavniy-div{
    display: flex;
    width: 1200px;
    margin: 100px auto;
}
.white-item{
    bottom: 10px;
}
li{
    margin-right: 20px;
    margin-bottom: 20px;
}